#gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 0;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.image {
  display: flex;
  height: 250px;
  margin: 3%;
  position: relative;
  border-radius: 2px;
  &:hover .icon {
    transform: scale(1.4);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: .8;
    width: 90px;
    height: 90px;
    top: 45%;
    left: 45%;
    background-color: #464443;
    border-radius: 50%;
    transition: all .8s;
    img {
      width: 40px;
      margin: 0 auto;
      opacity: .7;
    }
  }
  h4 {
    align-self: flex-end;
    padding-left: 8%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    width: 70%;
  }
  .image-line {
    position: absolute;
    bottom: 32%;
    left: 8%;
    height: 5px;
    width: 40px;
    background-color: #dc7725;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    width: 49.4%;
    height: 35vh;
    border-radius: none;
    &:nth-child(1),
    &:nth-child(6) {
      width: 100%;
    }
    .image-line {
      bottom: 20%;
    }
  }
    @media screen and (min-width: 960px) {
      margin: 0;
      width: 25%;
      height: 34vh;
      &:nth-child(1),
      &:nth-child(6) {
        width: 50%;
      }
      h4 {
        font-size: 1.2em;
      }
  }
}
