html {
  background-color: #d1d1c9;
}
.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header  {
  background-image: url("../img/header.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  h1 {
    font-family: 'freight-big-pro', serif;
    color: white;
    font-size: 1em;
    margin-bottom: 0;
    letter-spacing: 3px;
    &:nth-of-type(2) {
      font-size: 3em;
    }
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 1.1em;
      &:nth-of-type(2) {
        font-size: 4.4em;
      }
    }
  }
  @media screen and (min-width:960px) {
    height: 100vh;
    position: relative;
    h1 {
      font-size: 1.5em;
      &:nth-of-type(2) {
        font-size: 6.2em;
      }
    }
    h3 {
      position: absolute;
      left: auto;
      top: 550px;;
    }
}
.text-underline {
  background-color: white;
  height: 5px;
  width: 250px;
  margin: 50px auto 0px;
  @media screen and (min-width: 768px) {
  margin: 60px auto 25px auto;
  }
}
#hero-intro {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: .5em;
  img {
    width: 95px;;
  }
  h3  {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 3%;
    h3 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dc7725;
      width: 200px;
      height: 65px;
      margin-top: 0;
      border-radius: 3px;
      a {
        color: white;
        text-decoration: none;
        font-family: 'Fjalla One', sans-serif;
        font-size: .8em;
        letter-spacing: 3px;
      }
      #arrow {
        position: absolute;
        color: #dc7725;
        width: 90px;
        top: 70px;
        left: 90px;
      }
    }
  }
  }
}
