html {
  background-color: #d1d1c9;
}
.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header  {
  background-image: url("../img/header.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  h1 {
    font-family: 'freight-big-pro', serif;
    color: white;
    font-size: 1em;
    margin-bottom: 0;
    &:nth-of-type(2) {
      font-size: 3em;
    }
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 1.2em;
      &:nth-of-type(2) {
        font-size: 4.8em;
      }
    }
  }
  @media screen and (min-width:960px) {
    height: 100vh;
    h1 {
      font-size: 1.5em;
      &:nth-of-type(2) {
        font-size: 6.2em;
      }
    }
  }
}
.text-underline {
  background-color: white;
  height: 5px;
  width: 250px;
  margin: 50px auto;
  @media screen and (min-width: 768px) {
  margin: 80px auto;
  }
}
#hero-intro {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: .5em;
  img {
    width: 95px;;
  }
  @media screen and (min-width: 768px) {
    margin-top: 10%;
  }
}
