html {
  background-color: #d1d1c9;
}
.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header  {
  background-image: url("../img/header.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  h1 {
    font-family: 'freight-big-pro', serif;
    color: white;
    font-size: 1em;
    line-height: 20px;
    text-align: center;
    &:nth-of-type(2) {
      font-size: 3em;
    }
  }
  h4 {
    color: white;
    font-family: 'freight-big-pro', serif;
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 1.2em;
      &:nth-of-type(2) {
        font-size: 4.8em;
      }
    }
  }
  @media screen and (min-width:960px) {
    height: 100vh;
    h1 {
      font-size: 1.5em;
      &:nth-of-type(2) {
        font-size: 6.2em;
      }
    }
  }
}
.text-underline {
  background-color: white;
  height: 6px;
  width: 250px;
  margin: 50px auto;
}
#gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin: 0;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.image {
  display: flex;
  height: 250px;
  margin: 3%;
  position: relative;
  &:hover .icon {
    transform: scale(1.4);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: .8;
    width: 90px;
    height: 90px;
    top: 45%;
    left: 45%;
    background-color: #464443;
    border-radius: 50%;
    transition: all .8s;
    img {
      width: 40px;
      margin: 0 auto;
      opacity: .7;
    }
  }
  h4 {
    align-self: flex-end;
    padding-left: 8%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    width: 50%;
  }
  .image-line {
    position: absolute;
    bottom: 32%;
    left: 8%;
    height: 5px;
    width: 40px;
    background-color: #dc7725;
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    width: 49.4%;
    height: 35vh;
    &:nth-child(1),
    &:nth-child(6) {
      width: 100%;
    }
    .image-line {
      bottom: 25%;
    }
  }
    @media screen and (min-width: 960px) {
      margin: 0;
      width: 25%;
      height: 34vh;
      &:nth-child(1),
      &:nth-child(6) {
        width: 50%;
      }
  }
}
