#header-nav {
  display: flex;
  height: 80px;
  align-items: flex-end;
  justify-content: space-between;
  img {
    margin-left: 8%;
  }
  ul {
    display: none;
  }
  @media screen and (min-width: 960px) {
    height: 150px;
    img {
      margin-left: 2%;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      li {
        color: white;
        margin-right: 5%;
        font-family: 'Fjalla One', sans-serif;
        font-size: 1.1em;
        list-style: none;
      }
    }
  }
}

#mid-nav {
  display: none;
  height: 150px;
  background: #333;
  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 55%;
      border-bottom: 2px solid black;
      li {
        height: 25px;
        color: rgba(255,255,255,0.5);
        list-style: none;
        padding: 10px 15px 10px 15px;
        font-size: .9em;
        font-family: 'Opensans', sans-serif;
        &:nth-child(1) {
          color: white;
        }
        &:nth-child(5) {
          color: #dc7725;
          border-left: 1px solid rgba(255,255,255,0.5);
        }
        img {
          width: 15%;
        }
      }
      #search {
        color: rgba(255,255,255,0.5);
        font-size: 1em;
      }
    }
  }
}
