$img1: url("img/camp.jpg");
$img2: url("img/canoe.jpg");
$img3: url("img/hike.jpg");
$img4: url("img/mointain.jpg");
$img5: url("img/photograph.jpg");
$img6: url("img/raft.jpg");

// $image: (
// one: $image-one,
// two: $image-two,
// three: $image-three,
// five: $image-four,
// six: $image-five,
// seven: $image-six
// )
